@model AgriEcommerce.Models.DanhMuc

@{
    ViewBag.Title = "Cập nhật thông tin danh mục sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section breadTitle
{
    <h2 style="font-weight: bold; color: black">Quản lý thông tin danh mục sản phẩm</h2>

}

@section breadLink
{
    <a href="#">Cập nhật thông tin danh mục sản phẩm</a>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Nhập thông tin danh mục sản phẩm</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group row mb-3">
        <label class="col-md-2 col-form-label text-end fw-semibold" style="color:black;">
            Mã danh mục <span class="text-danger">(*)</span>:
        </label>

        <div class="col-md-9">
            @Html.EditorFor(model => model.MaDanhMuc,
                new { htmlAttributes = new { @class = "form-control", placeholder = "Mã danh mục...", maxlength = "20", @readonly = "readonly" } })

            @Html.ValidationMessageFor(model => model.MaDanhMuc, "", new { @class = "text-danger small" })
        </div>
    </div>


    <div class="form-group row mb-3">
        <label class="col-md-2 col-form-label text-end fw-semibold" style="color:black;">
            Tên danh mục <span class="text-danger">(*)</span>:
        </label>

        <div class="col-md-9">
            @Html.EditorFor(model => model.TenDanhMuc,
                new { htmlAttributes = new { @class = "form-control", placeholder = "Tên danh mục...", maxlength = "50" } })

            @Html.ValidationMessageFor(model => model.TenDanhMuc, "", new { @class = "text-danger small" })
        </div>
    </div>


    <div class="form-group row mb-3">
        <label class="col-md-2 col-form-label text-end fw-semibold" style="color:black;">
            Mô tả:
        </label>

        <div class="col-md-9">
            @Html.TextAreaFor(model => model.MoTa,
                new { @class = "form-control", rows = 4, placeholder = "Mô tả danh mục...", maxlength = "150" })

            @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger small" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cập nhật" class="btn btn-primary" />
            @Html.ActionLink("Trở lại", "danhsach", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>
}

